.fact {
  width: 416px;
  background-color: #000;
  border-radius: 25px;
  overflow: hidden;
  padding: 36px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(23,153,212,0.29);
  -moz-box-shadow: 0px 0px 28px 0px rgba(23,153,212,0.29);
  box-shadow: 0px 0px 28px 0px rgba(23,153,212,0.29);
}
