.how
  position: relative
  min-height: 1000px
  background-color: #ffffff

  .icon
    display: block
    width: 73px
    height: 73px
    background-image: url('/img/how-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain

  .heading-title
    color: #000000

  .city
    font-size: 20px
    color: #858585

.social

  &-list
    display: flex

  &-el
    margin-right: 8px

  &:last-child
    margin-right: 0

.icon
  display: inline-block
  vertical-align: middle
  position: relative
  transition: all .3s ease-in-out


.icon-vk,
.icon-tw,
.icon-inst,
.icon-fb
  display: block
  width: 22px
  height: 22px
  border-radius 50px

.icon-vk
  background: url("../img/vk-icon.png")

.icon-tw
  background: url("../img/tw-icon.png")

.icon-inst
  background: url("../img/instg-icon.png")

.icon-fb
  background: url("../img/fb-icon.png")

.contacts
  position: relative
  color: #ffffff
  background-color: #000000

  .icon
    display: block
    width: 62px
    height: 49px
    background-image: url('/img/contact-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain





